language: python
python:
  - "3.7"

# command to install dependencies
install:
  - "pip install -r requirements.txt"
  - "pip install -r requirements/all-sources.txt"

# command to run tests
script: 
  - "make test"

# whitelist
branches:
  only:
    - master
