language: python
python:
  - "3.4"
  - "3.5"

# command to install dependencies
install:
  - "pip install -r requirements.txt"
  - "pip install python-coveralls"
  - "pip install ."

# command to run tests
script: make test

after_success:
  coveralls

# whitelist
branches:
  only:
    - master

notifications:
  email:
    - kshefchek@gmail.com
    - nlwashington@lbl.gov
    - larawayb@ohsu.edu
