[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
rdflib = "*"
isodate = "*"
roman = "*"
requests = "*"
PyYAML = "*"
psycopg2 = "*"
pandas = "*"
sparqlwrapper = "*"
pysftp = "*"
ontobio = "*"
gitpython = "*"

[requires]
python_version = "3.5"

[dev-packages]
