[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
rdflib = "*"
isodate = "*"
roman = "*"
requests = "*"
PyYAML = "*"
pandas = "*"
sparqlwrapper = "*"
pysftp = "*"
ontobio = "*"
intermine = "*"
py-spy = "*"
"bs4" = "*"
"psycopg2" = "*"
pylint = "*"

[requires]
python_version = "3.6"

[dev-packages]
